.header {
  background-color: #2c2c2c;
  padding-top: 49px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include on-small-desktop {
      @include page-grid {
        column-gap: 1 / 2;
      }
    }
  }

  &__left {
    width: 45px;
  }

  &__right {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    text-decoration: underline solid #2060f6;
    text-underline-offset: 8px;
    border-radius: 4px;
    text-decoration-thickness: 2px;
  }
}
