.nav {
  flex-grow: 1;

  &__list {
    display: none;
    gap: 48px;

    margin: 0;
    padding: 0;

    list-style: none;

    @include on-small-desktop {
      display: flex;
    }
  }

  &__item {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: $text-color;
    text-decoration: none;
  }

  &__menu--burger {
    padding-inline: 32px;

    @include on-small-desktop {
      display: none;
    }
  }

  @include on-small-desktop {
    flex-grow: 0;
  }
}
