.nav {
  flex-grow: 1;

  &__list {
    margin: 0;
    padding: 0;
    gap: 48px;
    list-style: none;
    display: none;

    @include on-small-desktop {
      display: flex;
    }
  }

  &__item {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
  }

  &__menu--burger{
    padding-inline: 32px;
    @include on-small-desktop {
      display: none;
    }
  }

  @include on-small-desktop {
    flex-grow: 0;
  }
}
