.slider {
  position: relative;

  &__image {
    display: block;

    width: 100%;
    height: 390px;
    border-radius: 30px;

    object-fit: cover;

    @include on-small-desktop {
      height: 100%;
      border-radius: 30px 0;
    }
  }

  &__controls {
    position: absolute;
    bottom: 78px;
    left: 21px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

    @include on-tablet {
      left: 41px;
    }

    @include on-small-desktop {
      left: 61px;
      flex-direction: row;
      gap: 15px;
      align-items: center;
    }
  }

  &__arrows {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__text {
    @include on-mobile {
      margin-top: 0;
    }

    @include on-tablet {
      margin-left: 0;
    }

    @include on-small-desktop {
      margin-left: 0;
    }
  }

  &__arrow-left {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
    border-radius: 50%;

    background-color: $text-color;
  }

  &__arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
    border-radius: 50%;

    background-color: $text-color;
  }

  &__text-title {
    margin-bottom: 8px;

    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 100%;
    color: $text-color;
    text-transform: uppercase;
  }

  &__text-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: $text-color;

    @include on-small-desktop {
      width: 264px;
    }
  }
}
