.strategic-agency {
  margin: 0;

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 68px;
    color: $text-color;

    @include on-large-screens {
      grid-column: 1 / 3;
    }
  }

  &__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: $text-color;
  }
}
